.all-tweets {
  background-color: white;
  margin-top: 30px;
}

.tweet-article:hover {
  opacity: 1;
}

.tweet-article .content {
  height: 71px;
  position: relative
}

.tweet-article {
  border: 1px solid #d2cece;
  margin-top: 50px;
  border-radius: 5px;
  background-color: white;
  width: 384px;
  margin: 2em;
  opacity: 0.9;
}

.tweet-article p {
  position: absolute;
  margin-top: 4px;
  margin-bottom: 3px;
  top: 6px;
  left: 11px;
  opacity: 10;
  word-wrap: break-word;
  padding: 1px 10px;
  padding: 3px 1px;
}

.tweet-article header {
  background-color: #eee;
  height: 58px;
  position: relative;
}

.tweet-article header h3 {
  bottom: 10px;
  left: 60px;
  position: absolute;
}

.tweet-article header span {
  font-size: 11px;
  font-weight: normal;
  right: 9px;
  float: right;
  padding-top: 12px;
  padding-right: 10px;
}

.tweet-article header img {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 5px;
  left: 9px;
  border-radius: 5px;
}

.tweet-article footer {
  border-top: 1px solid #d2cece;
  font-size: 11px;
  padding: 6px;
}

.tweet-article footer .fa {
  float: right;
  padding: 0px 2px;
  color: rgb(255, 139, 159);
}
