html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  margin: 0;
  color: #244751;
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.container {
  width: 450px;
  margin: auto;
  background-color: white;
  position: relative;
  top: 83px;
  height: 1000px;
}
